@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background: linear-gradient(
    180deg,
    #1d1e28 0.06%,
    #261c2d 94.83%,
    #261a2d 100%
  );
  min-height: 100vh;
}

/*
   Mobile Version 
*/

h1 {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6.136px;
  text-transform: uppercase;
  margin: 0 2.4rem;
}
